renren-security/renren-admin/src/main/java/io/renren/modules/account/webclient/uploadBankData.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://testWebservice.pxCreditrating.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://testWebservice.pxCreditrating.com/" name="UploadBankDataService">
<types>
<xsd:schema>
<xsd:import namespace="http://testWebservice.pxCreditrating.com/" schemaLocation="http://121.41.32.132:8980/payDataService/uploadBankData?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="getValue">
<part name="parameters" element="tns:getValue"></part>
</message>
<message name="getValueResponse">
<part name="parameters" element="tns:getValueResponse"></part>
</message>
<message name="UploadSpecialAccount">
<part name="parameters" element="tns:UploadSpecialAccount"></part>
</message>
<message name="UploadSpecialAccountResponse">
<part name="parameters" element="tns:UploadSpecialAccountResponse"></part>
</message>
<message name="UploadSettlement">
<part name="parameters" element="tns:UploadSettlement"></part>
</message>
<message name="UploadSettlementResponse">
<part name="parameters" element="tns:UploadSettlementResponse"></part>
</message>
<message name="FindBankAccount">
<part name="parameters" element="tns:FindBankAccount"></part>
</message>
<message name="FindBankAccountResponse">
<part name="parameters" element="tns:FindBankAccountResponse"></part>
</message>
<message name="UploadBankAccount">
<part name="parameters" element="tns:UploadBankAccount"></part>
</message>
<message name="UploadBankAccountResponse">
<part name="parameters" element="tns:UploadBankAccountResponse"></part>
</message>
<message name="UploadPersonBankAccount">
<part name="parameters" element="tns:UploadPersonBankAccount"></part>
</message>
<message name="UploadPersonBankAccountResponse">
<part name="parameters" element="tns:UploadPersonBankAccountResponse"></part>
</message>
<message name="FindPersonBankAccount">
<part name="parameters" element="tns:FindPersonBankAccount"></part>
</message>
<message name="FindPersonBankAccountResponse">
<part name="parameters" element="tns:FindPersonBankAccountResponse"></part>
</message>
<message name="IsPersonInProject">
<part name="parameters" element="tns:IsPersonInProject"></part>
</message>
<message name="IsPersonInProjectResponse">
<part name="parameters" element="tns:IsPersonInProjectResponse"></part>
</message>
<portType name="UploadBankData">
<operation name="getValue">
<input wsam:Action="http://testWebservice.pxCreditrating.com/UploadBankData/getValueRequest" message="tns:getValue"></input>
<output wsam:Action="http://testWebservice.pxCreditrating.com/UploadBankData/getValueResponse" message="tns:getValueResponse"></output>
</operation>
<operation name="UploadSpecialAccount">
<input wsam:Action="http://testWebservice.pxCreditrating.com/UploadBankData/UploadSpecialAccountRequest" message="tns:UploadSpecialAccount"></input>
<output wsam:Action="http://testWebservice.pxCreditrating.com/UploadBankData/UploadSpecialAccountResponse" message="tns:UploadSpecialAccountResponse"></output>
</operation>
<operation name="UploadSettlement">
<input wsam:Action="http://testWebservice.pxCreditrating.com/UploadBankData/UploadSettlementRequest" message="tns:UploadSettlement"></input>
<output wsam:Action="http://testWebservice.pxCreditrating.com/UploadBankData/UploadSettlementResponse" message="tns:UploadSettlementResponse"></output>
</operation>
<operation name="FindBankAccount">
<input wsam:Action="http://testWebservice.pxCreditrating.com/UploadBankData/FindBankAccountRequest" message="tns:FindBankAccount"></input>
<output wsam:Action="http://testWebservice.pxCreditrating.com/UploadBankData/FindBankAccountResponse" message="tns:FindBankAccountResponse"></output>
</operation>
<operation name="UploadBankAccount">
<input wsam:Action="http://testWebservice.pxCreditrating.com/UploadBankData/UploadBankAccountRequest" message="tns:UploadBankAccount"></input>
<output wsam:Action="http://testWebservice.pxCreditrating.com/UploadBankData/UploadBankAccountResponse" message="tns:UploadBankAccountResponse"></output>
</operation>
<operation name="UploadPersonBankAccount">
<input wsam:Action="http://testWebservice.pxCreditrating.com/UploadBankData/UploadPersonBankAccountRequest" message="tns:UploadPersonBankAccount"></input>
<output wsam:Action="http://testWebservice.pxCreditrating.com/UploadBankData/UploadPersonBankAccountResponse" message="tns:UploadPersonBankAccountResponse"></output>
</operation>
<operation name="FindPersonBankAccount">
<input wsam:Action="http://testWebservice.pxCreditrating.com/UploadBankData/FindPersonBankAccountRequest" message="tns:FindPersonBankAccount"></input>
<output wsam:Action="http://testWebservice.pxCreditrating.com/UploadBankData/FindPersonBankAccountResponse" message="tns:FindPersonBankAccountResponse"></output>
</operation>
<operation name="IsPersonInProject">
<input wsam:Action="http://testWebservice.pxCreditrating.com/UploadBankData/IsPersonInProjectRequest" message="tns:IsPersonInProject"></input>
<output wsam:Action="http://testWebservice.pxCreditrating.com/UploadBankData/IsPersonInProjectResponse" message="tns:IsPersonInProjectResponse"></output>
</operation>
</portType>
<binding name="UploadBankDataPortBinding" type="tns:UploadBankData">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="getValue">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="UploadSpecialAccount">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="UploadSettlement">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="FindBankAccount">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="UploadBankAccount">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="UploadPersonBankAccount">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="FindPersonBankAccount">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="IsPersonInProject">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="UploadBankDataService">
<port name="UploadBankDataPort" binding="tns:UploadBankDataPortBinding">
<soap:address location="http://121.41.32.132:8980/payDataService/uploadBankData"></soap:address>
</port>
</service>
</definitions>